body{
    background-color: black;
    font-family: 'Marck Script',cursive;
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
}
h1{
    font-size: 19px;
}
a{
    color: aqua;
    font-size: 15px;
    
}

