body{
    background-color: black;
    font-family: 'Marck Script',cursive;
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    
}
.love{
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;     

}

