body{
    background-color: black;
    font-family: 'Marck Script',cursive;
    margin: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
h1{
    font-size: 19px;
}
a{
    color: aqua;
    font-size: 15px;
    
}
